.unauth {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.unauth .card {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}