html,
body,
#root {
    height: 100%;
    background-color: #f5f5f5;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

[role='main'] {
    padding-top: 48px; /* Space for fixed navbar */
}

button:focus {
    outline: 0px;
}