.list-group-item:hover {
    cursor: pointer;
    background-color: #f8f9fa;
    z-index: auto;
}

.list-group-item > .close {
    opacity: 0;
}

.list-group-item:hover > .close {
    opacity: 0.5;
}

.pause {
    animation-play-state: paused;
}
.spin {
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.input-group > input.bl {
    border-radius: 0;
    border-bottom-left-radius: 0.1rem;
}

.btn.bl {
    border-radius: 0;
    border-bottom-left-radius: 0.1rem;
}

.input-group-lg>.input-group-append>.btn.br {
    border-radius: 0;
    border-bottom-right-radius: 0.1rem;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}