.switch > .btn-outline-dark:hover {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
}

.switch > .btn-dark:focus, .switch > .btn-outline-dark:focus {
    outline: 0;
    box-shadow: none;
}