.filter-sidebar {
    background-color: white;
    padding: 8px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .filter-sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.filter-sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.filter-sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.filter-sidebar .nav-link.active {
    color: #007bff;
}

.filter-sidebar .nav-link:hover .feather,
.filter-sidebar .nav-link.active .feather {
    color: inherit;
}

.filter-sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}
